body {
	background-image: url("../images/bg.png");
	background-size: 100% 100%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
}

/* ==== NAV BAR ==== */

li {
	font-weight: 700;
	font-size: 22px;
	
	/* move the elements down slightly so it intersects bottom of nav bar */
	margin-top: 1px;
}

/* the top links that aren't active */
.navbar .nav > li > a {
	color: #603913; /* brown color */
	text-shadow: none;
}

/* active top link */
.navbar .nav .active > a, .navbar .nav .active > a:hover {
	background-color: #ECECF8; /* background bluish/purple */
	color: #603913; /* brown color */
	text-shadow: none;
}

/* navbar styles */
.navbar-inner {
	background-color: #b0adb6;
	background-image: none;
	border-radius: 0px;
	box-shadow: none;
}



/* ==== LANDING PAGE ==== */

#fouryears {
	margin-top: 130px;
	margin-left: 60px;
	font-size: 50px;
}

#deserve {
	font-size: 65px;
	margin-top: 30px;
	margin-left: 120px;
}

.purple {
	color: #705bbb;
}

#logo {
	margin-top: 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#enter {
	margin-top: 30px;
	font-size: 30px;
	text-align: center;
}



/* ==== GENERAL STYLES ==== */

#outer-shadow {
	/*box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, .5);*/
	border-radius: 0px 0px 10px 10px;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	border-left: 1px solid rgba(0, 0, 0, .2);
	border-right: 1px solid rgba(0, 0, 0, .2);
}

#main-content {
	margin-top: -18px;
	padding: 30px;
	
	/* this makes the background on the tab better match the background of the page, but then you don't get any of the texture */
	/*background-color: #ECECF8;*/
	background-color: rgba(236, 236, 248, .3);
	
	border-radius: 0px 0px 10px 10px;
}



/* ==== CALENDAR ==== */

#calendar {
	background: rgba(0, 0, 0, .5);
	border-radius: 10px;
	box-shadow: 0px 1px 10px 4px #fff;
	padding: 30px;
}

.day {
	background-color: #ECECF8;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0px 1px 10px 4px #705bbb;
	
	/* this is a MAGIC NUMBER - it should always be the height of the largest box */
	height: 182px;
}

.day-name {
	font-weight: 700;
	float: right;
}

.day-header {
	font-size: 22px;
	margin-bottom: 20px;
}

.activity {
	color: #705bbb;
	font-weight: 700;
	line-height: 14px;
}

.cost {
	color: #f1e001;
	text-shadow: 1px 1px rgba(0, 0, 0, .5);
}

.graduation {
	font-size: 36px;
	color: #00a651;
	margin-top: 5px;
	margin-bottom: 25px;
}

/* add a top margin to all activities except the first */
.activity + .activity {
	margin-top: 10px;
}

/* add a top margin to all rows in the calendar except the last */
.calendar-row + .calendar-row {
	margin-top: 30px;
}

.convocation {
	color: #222;
}

.conv-list {
	color: #888;
}



/* ==== TICKETS ==== */

#tickets {
	background: #B0ADB6;
	border-radius: 10px;
	box-shadow: 0px 1px 10px 4px #fff;
}

#ticket-padded {
	padding: 30px;
}

#ticket-info {
	font-size: 60px;
	line-height: 60px;
	text-align: center;
}

#ticket-link {
	color: #705bbb;
}

#sell-out {
	margin-top: 10px;
	text-align: center;
	color: #fff;
	font-weight: 700;
}

#people-img {
	width: 100%;
	border-radius: 0px 0px 10px 10px;
}



/* ==== ABOUT ==== */
#about {
	background: rgba(0, 0, 0, .3);
	border-radius: 10px;
	box-shadow: 0px 1px 10px 4px #fff;
	padding: 30px;
	font-size: 35px;
	line-height: 35px;
	
	text-align: justify;
}

#committee > div {
	margin-top: 20px;
}

.heavy {
	font-weight: 700;
}

#seniorweek {
	color: #705bbb;
	
	margin-bottom: 30px;
}

#committee {
	color: #fff;
	font-size: 30px;
	line-height: 30px;
}

#committee-title {
	text-align: center;
	font-weight: 700;
}



/* ==== CONTACT ==== */

#contact {
	background: rgba(0, 0, 0, .3);
	border-radius: 10px;
	box-shadow: 0px 1px 10px 4px #fff;
	padding: 30px;
	
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	
	padding-top: 100px;
	padding-bottom: 100px;
	
	font-weight: 700;
}

#contact-info > a {
	color: #705bbb;
}

#contact-info {
	margin-top: 20px;
	font-size: 35px;
	line-height: 35px;
}