<html>
<head>
	<title>Northwestern Senior Week 2012</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<div id="outer-shadow">
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li>
					<a href="/schedule">SCHEDULE</a>
				</li>
				<li>
					<a href="/tickets">TICKETS</a>
				</li>
				<li class="active">
					<a href="#">ABOUT</a>
				</li>
				<li>
					<a href="/contact">CONTACT</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="main-content">
	<div id="about">
		<div id="seniorweek">
			SENIOR WEEK IS ORGANIZED BY THE <span class="heavy">SENIOR YEAR COMMITTEE</span> AND MADE POSSIBLE BY THE <span class="heavy">NORTHWESTERN ALUMNI ASSOCIATION</span> AND THE <span class="heavy">NORRIS STUDENT CENTER</span>
		</div>
		<div id="committee">
			<div id="committee-title">
				SENIOR YEAR COMMITTEE 2011-2012
			</div>
			<div>
				MICHAEL BELMONTE, JOSH BERNICK, ABBY CHU, SARAH COOPER, MEREDITH DAWSON, STEPHANIE FANG, MELISSA FREDERICKS, GOVI GOVINDARAJU, ASHLEY GREENE, LEAH HAMMERMAN, AARON KAHN, NOAH KIMMEL, MADELAINE KUKANZA, JOHNNY LANGAN, CURIE LEE, ANDREW LEVIN, JASMYNE MCDONALD, CHLOE MCGUFFIN, JESS RUSSO
			</div>
			<div>
				AMANDA LITMAN & JOE MCMANUS, <span class="heavy">CO-CHAIRS</span>
			</div>
			<div>
				MATT HEREK & JASON HANSON, <span class="heavy">ADVISORS</span>
			</div>
		<div>
	</div>
</div>
</div>
</div>
</body>
</html>