<html>
<head>
	<title>Northwestern Senior Week 2012</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<div id="outer-shadow">
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li>
					<a href="/schedule">SCHEDULE</a>
				</li>
				<li>
					<a href="/tickets">TICKETS</a>
				</li>
				<li>
					<a href="/events">EVENTS</a>
				</li>
				<li>
					<a href="/about">ABOUT</a>
				</li>
				<li class="active">
					<a href="#">CONTACT</a>
				</li>
				<li class="pull-right">
					<a class="social" href="https://www.facebook.com/NUseniors2012">
						<img src="/images/facebook.png" height="39px" />
					</a>
				</li>
				<li class="pull-right">
					<a class="social" href="https://twitter.com/#!/NUseniors">
						<img src="/images/twitter.png" height="39px" />
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="main-content">
	<div id="contact">
		<div>WE WANT TO HEAR FROM YOU!</div>
		<div id="contact-info">
			QUESTIONS, COMMENTS, CONCERNS, ETC. CAN BE DIRECTED TO <a href="mailto:seniorweeknu@gmail.com">SENIORWEEKNU@GMAIL.COM</a>
		</div>
	</div>
</div>
</div>
</div>
</body>
</html>