<html>
<head>
	<title>Northwestern Senior Week 2012</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<div id="outer-shadow">
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li class="active">
					<a href="#">SCHEDULE</a>
				</li>
				<li><a href="/tickets">TICKETS</a></li>
				<li><a href="/about">ABOUT</a></li>
				<li><a href="/contact">CONTACT</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="main-content">
	<div id="calendar">
		<div class="row-fluid calendar-row">
			<div class="day span4">
				<div class="day-header">
					JUNE 8 <span class="day-name">FRIDAY</span>
				</div>
				
				<div class="activity">
					MARCH THRU THE ARCH & CLASS PHOTO
				</div>
				<div class="activity">
					SENIOR CLASS GIFT RECEPTION - <span class="cost">BY INVITATION</span>
				</div>
				<div class="activity">
					FRIDAY NIGHT AT NEVIN'S
				</div>
			</div>
			<div class="day span4">
				<div class="day-header">
					JUNE 9 <span class="day-name">SATURDAY</span>
				</div>
				
				<div class="activity">
					ARCHITECTURE BOAT TOUR - <span class="cost">$30</span>
				</div>
				<div class="activity">
					TRIP TO THE ZOO - <span class="cost">FREE</span>
				</div>
				<div class="activity">
					SHEDD AQUARIUM - <span class="cost">$12</span>
				</div>
				<div class="activity">
					KINGSTON MINES JAZZ CLUB - <span class="cost">FREE</span>
				</div>
			</div>
			<div class="day span4">
				<div class="day-header">
					JUNE 10 <span class="day-name">SUNDAY</span>
				</div>
				
				<div class="activity">
					GOOSE ISLAND BREWERY TOUR AND BEER TASTING - <span class="cost">$20</span>
				</div>
				<div class="activity">
					MOVIE PARTY ON THE LAKEFILL - <span class="cost">FREE</span>
				</div>
			</div>
		</div>
		<div class="row-fluid calendar-row">
			<div class="day span4">
				<div class="day-header">
					JUNE 11 <span class="day-name">MONDAY</span>
				</div>
				
				<div class="activity">
					GOOSE ISLAND BREWERY TOUR AND BEER TASTING - <span class="cost">$20</span>
				</div>
				<div class="activity">
					CHOCOLATE TOUR - <span class="cost">$30</span>
				</div>
				<div class="activity">
					PRIVATE SHOW AT COMEDYSPORTZ - <span class="cost">$15</span>
				</div>
			</div>
			<div class="day span4">
				<div class="day-header">
					JUNE 12 <span class="day-name">TUESDAY</span>
				</div>
				
				<div class="activity">
					MUSEUM OF CONTEMPORARY ART - <span class="cost">$15</span>
				</div>
				<div class="activity">
					RONALD MCDONALD HOUSE VOLUNTEER TRIP - <span class="cost">FREE</span>
				</div>
				<div class="activity">
					PIZZA TOUR - <span class="cost">$30</span>
				</div>
				<div class="activity">
					SENIOR SOIREE - <span class="cost">$33</span>
				</div>
			</div>
			<div class="day span4">
				<div class="day-header">
					JUNE 13 <span class="day-name">WEDNESDAY</span>
				</div>
				
				<div class="activity">
					CUBS GAME - <span class="cost">$20</span>
				</div>
				<div class="activity">
					WRIGLEYVILLE BAR CRAWL FOLLOWING GAME
				</div>
			</div>
		</div>
		<div class="row-fluid calendar-row">
			<div class="day span4">
				<div class="day-header">
					JUNE 14 <span class="day-name">THURSDAY</span>
				</div>
				
				<div class="activity">
					TOAST TO THE PARENTS - <span class="cost">FREE</span>
				</div>
			</div>
			<div class="day span4">
				<div class="day-header">
					JUNE 15 <span class="day-name">FRIDAY</span>
				</div>
				
				<div class="activity graduation">
					GRADUATION
				</div>
				<div class="activity">
					154th COMMENCEMENT</div>
				<div class="activity">
					<span class="convocation">
						CONVOCATION
						- <span class="conv-list">SESP</span>
					</span>
				</div>
			</div>
			<div class="day span4">
				<div class="day-header">
					JUNE 16 <span class="day-name">SATURDAY</span>
				</div>
				
				<div class="activity graduation">
					GRADUATION
				</div>
				<div class="activity">
					<span class="convocation">
						CONVOCATION
						- <span class="conv-list">MCCORMICK, BIENEN, MEDILL, WEINBERG, COMMUNICATION</span>
					<span>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</body>
</html>