<html>
<head>
	<title>Northwestern Senior Week 2012</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<div id="outer-shadow">
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li class="active">
					<a href="#">SCHEDULE</a>
				</li>
				<li><a href="/tickets">TICKETS</a></li>
				<li>
					<a href="/events">EVENTS</a>
				</li>
				<li><a href="/about">ABOUT</a></li>
				<li><a href="/contact">CONTACT</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="main-content">
	<div id="calendar">
		<div class="row-fluid calendar-row">
			<div class="day span4">
				<div class="day-header">
					<a href="/events/6-8">JUNE 8 <span class="day-name">FRIDAY</span></a>
				</div>
				
				<div class="activity">
					CLASS PHOTO AND MARCH THRU THE ARCH - <span class="cost">FREE</span>
				</div>
				<div class="activity">
					SENIOR CLASS GIFT RECEPTION - <span class="cost">BY INVITATION</span>
				</div>
			</div>
			<div class="day span4">
				<div class="day-header">
					<a href="/events/6-9">JUNE 9 <span class="day-name">SATURDAY</span></a>
				</div>
				
				<div class="activity">
					LINCOLN PARK ZOO - <span class="cost">FREE</span>
				</div>
				<div class="activity">
					DAY AT THE SHEDD - <span class="cost">$12</span>
				</div>
				<div class="activity">
					KINGSTON MINES BLUES CLUB - <span class="cost">$10</span>
				</div>
			</div>
			<div class="day span4">
				<div class="day-header">
					<a href="/events/6-10">JUNE 10 <span class="day-name">SUNDAY</span></a>
				</div>
				
				<div class="activity">
					GOOSE ISLAND PRIVATE TOUR AND TASTING - <span class="cost">$13</span>
				</div>
				<div class="activity">
					ASK BIG QUESTIONS BONFIRE AND BBQ - <span class="cost">FREE</span>
				</div>
			</div>
		</div>
		<div class="row-fluid calendar-row">
			<div class="day span4">
				<div class="day-header">
					<a href="/events/6-11">JUNE 11 <span class="day-name">MONDAY</span></a>
				</div>
				
				<div class="activity">
					GOOSE ISLAND PRIVATE TOUR AND TASTING - <span class="cost">$13</span>
				</div>
				<div class="activity">
					VOLUNTEER AT CITY FARM - <span class="cost">$5</span>
				</div>
				<div class="activity">
					COMEDYSPORTZ PRIVATE SHOW - <span class="cost">$15</span>
				</div>
				<div class="activity">
					LAST LECTURE - <span class="cost">$10</span>
				</div>
			</div>
			<div class="day span4">
				<div class="day-header">
					<a href="/events/6-12">JUNE 12 <span class="day-name">TUESDAY</span></a>
				</div>
				
				<div class="activity">
					KAYAK THE CHICAGO RIVER - <span class="cost">$55</span>
				</div>
				<div class="activity">
					VOLUNTEER AT RONALD MCDONALD HOUSE - <span class="cost">FREE</span>
				</div>
				<div class="activity">
					CHICAGO PIZZA TOUR - <span class="cost">$28.50</span>
				</div>
				<div class="activity">
					MUSEUM OF CONTEMPORARY ART - <span class="cost">FREE</span>
				</div>
				<div class="activity">
					SENIOR FORMAL - <span class="cost">$29</span>
				</div>
			</div>
			<div class="day span4">
				<div class="day-header">
					<a href="/events/6-13">JUNE 13 <span class="day-name">WEDNESDAY</span></a>
				</div>
				
				<div class="activity">
					VOLUNTEER AT RONALD MCDONALD HOUSE - <span class="cost">FREE</span>
				</div>
				<div class="activity">
					ARCHITECTURE BOAT TOUR - <span class="cost">$15.60</span>
				</div>
				<div class="activity">
					SENIOR NIGHT AT WRIGLEY (CUBS VS. TIGERS) - <span class="cost">$19</span>
				</div>
			</div>
		</div>
		<div class="row-fluid calendar-row">
			<div class="day span4">
				<div class="day-header">
					<a href="/events/6-14">JUNE 14 <span class="day-name">THURSDAY</span></a>
				</div>
				
				<div class="activity">
					STUDENT HONORS DAY EVENT - <span class="cost">BY INVITATION</span>
				</div>
				<div class="activity">
					PRESIDENT'S RECEPTION - <span class="cost">FREE</span>
				</div>
				<div class="activity">
					NAVAL ROTC COMMISSIONING - <span class="cost">FREE</span>
				</div>
				<div class="activity">
					BACCALAUREATE SERVICE - <span class="cost">FREE</span>
				</div>
			</div>
			<div class="day span4">
				<div class="day-header">
					<a href="/events/6-15">JUNE 15 <span class="day-name">FRIDAY</span></a>
				</div>
				
				<div class="activity graduation">
					GRADUATION
				</div>
				<div class="activity">
					154th COMMENCEMENT</div>
				<div class="activity">
					<span class="convocation">
						CONVOCATION
						- <span class="conv-list">SESP</span>
					</span>
				</div>
			</div>
			<div class="day span4">
				<div class="day-header">
					<a href="/events/6-16">JUNE 16 <span class="day-name">SATURDAY</span></a>
				</div>
				
				<div class="activity graduation">
					GRADUATION
				</div>
				<div class="activity">
					<span class="convocation">
						CONVOCATION
						- <span class="conv-list">MCCORMICK, BIENEN, MEDILL, WEINBERG, COMMUNICATION</span>
					<span>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</body>
</html>