<html>
<head>
	<title>Northwestern Senior Week 2012</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<div id="outer-shadow">
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li>
					<a href="/schedule">SCHEDULE</a>
				</li>
				<li class="active">
					<a href="#">TICKETS</a>
				</li>
				<li>
					<a href="/about">ABOUT</a>
				</li>
				<li>
					<a href="/contact">CONTACT</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="main-content">
	<div id="tickets">
		<div id="ticket-padded">
			<h1 id="ticket-info">TICKETS FOR SENIOR WEEK CAN BE PURCHASED <a id="ticket-link" href="#">HERE</a></h1>
			<div id="sell-out">SENIOR WEEK EVENTS SELL OUT QUICKLY AND THERE PROBABLY WILL NOT BE EXTRAS ON THE DAY OF</div>
		</div>
		<img id="people-img" src="/images/people.png" />
	</div>
</div>
</div>
</div>
</body>
</html>