<html>
<head>
	<title>Northwestern Senior Week 2012</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<div id="outer-shadow">
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li>
					<a href="/schedule">SCHEDULE</a>
				</li>
				<li>
					<a href="/tickets">TICKETS</a>
				</li>
				<li>
					<a href="/about">ABOUT</a>
				</li>
				<li class="active">
					<a href="#">CONTACT</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="main-content">
	<div id="events">
		<div class="events-day">
			<div class="events-day-title">
				SUNDAY, JUNE 10
			</div>
			<div class="event">
				<div class="event-title">
					GOOSE ISLAND BREWERY: PRIVATE TOUR AND TASTING
				</div>
				<div class="event-details">
					tours at 11:30AM, 2PM, and 4PM - $13
				</div>
				<div class="event-description">
					Perhaps the most popular event from previous Senior Weeks, we are excited to once again offer private tours of Chicago's own Goose Island Brewery. Get your ticket ASAP for a 90 minute tour through the famous Chicago brewery and sample some of the finest ales in all the land. Our event is being held as Goose Island's Clybourn location, which is just off the Red Line, so there will be no buses for this event. This event is 21+.
				</div>
			</div>
			<div class="event">
				<div class="event-title">
					ASK BIG QUESTIONS BONFIRE AND BBQ
				</div>
				<div class="event-details">
					7:00PM - the Lakefill Fire Pit
				</div>
				<div class="event-description">
					Senior Week is excited to partner with Ask Big Questions (ABQ) for a night of s'mores, BBQ, and deep conversations. Reminisce about the past four years and freak-out about the future. ABQ aims to discuss life's big questions in a secular, casual environment. BYOMRS (Bring your own marshmallow-roasting stick).
				</div>
			</div>
		</div>
		
	</div>
</div>
</div>
</div>
</body>
</html>