<html>
<head>
	<title>Northwestern Senior Week 2012</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<div id="outer-shadow">
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li>
					<a href="/schedule">SCHEDULE</a>
				</li>
				<li>
					<a href="/tickets">TICKETS</a>
				</li>
				<li class="active">
					<a href="/events">EVENTS</a>
				</li>
				<li>
					<a href="/about">ABOUT</a>
				</li>
				<li>
					<a href="/contact">CONTACT</a>
				</li>
				<li class="pull-right">
					<a class="social" href="https://www.facebook.com/NUseniors2012">
						<img src="/images/facebook.png" height="39px" />
					</a>
				</li>
				<li class="pull-right">
					<a class="social" href="https://twitter.com/#!/NUseniors">
						<img src="/images/twitter.png" height="39px" />
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="main-content">
	<div id="events">
		<ul id="event-day-list">
			<li>
				<a href="/events/6-8" class="purple">Friday, June 8</a>
			</li>
			<li>
				<a href="/events/6-9" class="purple">Saturday, June 9</a>
			</li>
			<li>
				<a href="/events/6-10" class="purple">Sunday, June 10</a>
			</li>
			<li>
				<a href="/events/6-11" class="purple">Monday, June 11</a>
			</li>
			<li>
				<a href="/events/6-12" class="purple">Tuesday, June 12</a>
			</li>
			<li>
				<a href="/events/6-13" class="purple">Wednesday, June 13</a>
			</li>
			<li>
				<a href="/events/6-14" class="purple">Thursday, June 14</a>
			</li>
			<li>
				<a href="/events/6-15" class="purple">Friday, June 15</a>
			</li>
			<li>
				<a href="/events/6-16" class="purple">Saturday, June 16</a>
			</li>
		</ul>
	</div>
</div>
</div>
</div>
</body>
</html>