<html>
<head>
	<title>Northwestern Senior Week 2012</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<div id="outer-shadow">
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li>
					<a href="/schedule">SCHEDULE</a>
				</li>
				<li>
					<a href="/tickets">TICKETS</a>
				</li>
				<li>
					<a href="/about">ABOUT</a>
				</li>
				<li class="active">
					<a href="#">CONTACT</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="main-content">
	<div id="events">
		<div class="events-day">
			<div class="events-day-title">
				WEDNESDAY, JUNE 13
			</div>
			<div class="event">
				<div class="event-title">
					VOLUNTEER AT RONALD MCDONALD HOUSE
				</div>
				<div class="event-details">
					bus leaves at 10:00AM - no cost
				</div>
				<div class="event-description">
					This year, we are proud to offer community service opportunities for the first time as part of Senior Week! We will be taking small groups of NU seniors to the Chicago Ronald McDonald House for Children's Memorial Hospital to cook lunch for the children and their families.
				</div>
			</div>
			<div class="event">
				<div class="event-title">
					CHICAGO ARCHITECTURE BOAT TOUR
				</div>
				<div class="event-details">
					12:00PM - 400 N. Michigan Avenue - $15.60
				</div>
				<div class="event-description">
					This is the quintessential Chicago experience. This 90-minute guided river cruise provides an overview of the historic and modern architectural styles of Chicago. The June weather will be perfect and the boat's onboard beer bar certainly doest hurt! Transportation to this event is up to you, but we recommend taking the El downtown and grabbing lunch before we board! Spots are limited.
				</div>
			</div>
			<div class="event">
				<div class="event-title">
					SENIOR NIGHT AT WRIGLEY
				</div>
				<div class="event-details">
					7:00PM - $19
				</div>
				<div class="event-description">
					Go, Cubs! Root for the home team as they take on the Detroit Tigers. One of the most popular events in years past, don't wait to buy your ticket. Transportation is via CTA. Enjoy a warm summer night with beer, brats, baseball and good friends.
				</div>
			</div>
		</div>
		
	</div>
</div>
</div>
</div>
</body>
</html>