<html>
<head>
	<title>Northwestern Senior Week 2012</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<div id="outer-shadow">
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li>
					<a href="/schedule">SCHEDULE</a>
				</li>
				<li>
					<a href="/tickets">TICKETS</a>
				</li>
				<li>
					<a href="/about">ABOUT</a>
				</li>
				<li class="active">
					<a href="#">CONTACT</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="main-content">
	<div id="events">
		<div class="events-day">
			<div class="events-day-title">
				SATURDAY, JUNE 9
			</div>
			<div class="event">
				<div class="event-title">
					SHEDD AQUARIUM
				</div>
				<div class="event-details">
					buses leave at 1:00PM - $12
				</div>
				<div class="event-description">
					Come see fishies and sea creatures of all kinds - including 25 different species of sharks - at Shedd, Chicago's famous aquarium. You get access to the Ocenarium Show and Exhibits, the general aquarium, the Wild Reef, and the Polar Play Zone. Buses will be provided to and from campus for this event.
				</div>
			</div>
			<div class="event">
				<div class="event-title">
					LINCOLN PARK ZOO
				</div>
				<div class="event-details">
					buses leave at 1:00PM - free
				</div>
				<div class="event-description">
					Who doesn't love the zoo - seriously. After four years of stressing out over classes, senior theses, and whether or not we'll be employed next year, it's time to act like a kid again and make faces at the monkeys. Buses will be provided to and from campus for this event, but feel free to stay in the area and enjoy the great restaurants in the Lincoln Park West neighborhood.
				</div>
			</div>
			<div class="event">
				<div class="event-title">
					KINGSTON MINES BLUES CLUB
				</div>
				<div class="event-details">
					10:00PM - 2548 N. Halsted Street
				</div>
				<div class="event-description">
					Two stages in adjoining rooms present nonstop blues all night long at Kingston Mines, the great granddaddy of the Chicago music scene. The only blues bar with a 4am license, their motto is "hear the blues, drink the booze, and talk loud." Get in with special $10 discounted cover if you show your WildCard!
				</div>
			</div>
		</div>
		
	</div>
</div>
</div>
</div>
</body>
</html>