<html>
<head>
	<title>Northwestern Senior Week 2012</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<div id="outer-shadow">
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li>
					<a href="/schedule">SCHEDULE</a>
				</li>
				<li>
					<a href="/tickets">TICKETS</a>
				</li>
				<li>
					<a href="/about">ABOUT</a>
				</li>
				<li class="active">
					<a href="#">CONTACT</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="main-content">
	<div id="events">
		<div class="events-day">
			<div class="events-day-title">
				FRIDAY, JUNE 15
			</div>
			<div class="event">
				<div class="event-title">
					ONE HUNDRED AND FIFTY-FOURTH ANNUAL COMMENCEMENT EXERCISES
				</div>
				<div class="event-details">
					10:30AM - Ryan Field - admission by ticket only
				</div>
				<div class="event-description">
					The ceremony begins with the procession of graduates, the faculty, and the President's party. The two-hour program includes the awarding of honorary degrees, a speaker, the President's message to graduates, and the conferring of degrees by school. Gates open at 8:30AM
				</div>
			</div>
			<div class="event">
				<div class="event-title">
					SESP CONVOCATION
				</div>
				<div class="event-details">
					4:00PM - Alice Millar Chapel - admission by ticket only
				</div>
			</div>
		</div>
		
	</div>
</div>
</div>
</div>
</body>
</html>