<html>
<head>
	<title>Northwestern Senior Week 2012</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<div id="outer-shadow">
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li>
					<a href="/schedule">SCHEDULE</a>
				</li>
				<li>
					<a href="/tickets">TICKETS</a>
				</li>
				<li>
					<a href="/events">EVENTS</a>
				</li>
				<li>
					<a href="/about">ABOUT</a>
				</li>
				<li>
					<a href="/contact">CONTACT</a>
				</li>
				<li class="pull-right">
					<a class="social" href="https://www.facebook.com/NUseniors2012">
						<img src="/images/facebook.png" height="39px" />
					</a>
				</li>
				<li class="pull-right">
					<a class="social" href="https://twitter.com/#!/NUseniors">
						<img src="/images/twitter.png" height="39px" />
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="main-content">
	<div id="events">
		<div class="events-day">
			<div class="events-day-title">
				THURSDAY, JUNE 14
			</div>
			<div class="event">
				<a name="honors"></a>
				<div class="event-title">
					STUDENT HONORS DAY EVENT
				</div>
				<div class="event-details">
					10:00AM - Cahn Auditorium - by invitation
				</div>
				<div class="event-description">
					Select graduating Seniors receiving special recognition from their respective schools may attend this event hosted by the President. These students will be notified in advance by their schools regarding award status.  Please contact your school if you have questions about the selection process.
				</div>
			</div>
			<div class="event">
				<a name="president"></a>
				<div class="event-title">
					PRESIDENT'S RECEPTION
				</div>
				<div class="event-details">
					12:00PM - Norris East Lawn - no ticket required
				</div>
				<div class="event-description">
					Graduates, their families, and guests are invited to attend this informal reception. President Morty Schapiro will be present to meet those attending.
				</div>
			</div>
			<div class="event">
				<a name="rotc"></a>
				<div class="event-title">
					NAVAL ROTC COMMISSIONING
				</div>
				<div class="event-details">
					2:30PM - Harris 107 - open admission
				</div>
			</div>
			<div class="event">
				<a name="service"></a>
				<div class="event-title">
					BACCALAUREATE SERVICE
				</div>
				<div class="event-details">
					4:00PM - Pick-Staiger Concert Hall - no ticket required
				</div>
				<div class="event-description">
					Northwestern President Morty Schapiro and Chaplain Timothy Stevens invite graduating seniors and their families to the Interfaith University Baccalaureate Service. We gather as a University community in a spirit of reverence and joy to celebrate the achievements of students and give thanks for the years spent at Northwestern.
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</body>
</html>