<html>
<head>
	<title>Northwestern Senior Week 2012</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<div id="outer-shadow">
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li>
					<a href="/schedule">SCHEDULE</a>
				</li>
				<li>
					<a href="/tickets">TICKETS</a>
				</li>
				<li>
					<a href="/events">EVENTS</a>
				</li>
				<li>
					<a href="/about">ABOUT</a>
				</li>
				<li>
					<a href="/contact">CONTACT</a>
				</li>
				<li class="pull-right">
					<a class="social" href="https://www.facebook.com/NUseniors2012">
						<img src="/images/facebook.png" height="39px" />
					</a>
				</li>
				<li class="pull-right">
					<a class="social" href="https://twitter.com/#!/NUseniors">
						<img src="/images/twitter.png" height="39px" />
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="main-content">
	<div id="events">
		<div class="events-day">
			<div class="events-day-title">
				SATURDAY, JUNE 16
			</div>
			<div class="event">
				<a name="mccormick"></a>
				<div class="event-title">
					MCCORMICK CONVOCATION
				</div>
				<div class="event-details">
					8:30AM - Welsh-Ryan Arena - admission by ticket only
				</div>
			</div>
			<div class="event">
				<a name="bienen"></a>
				<div class="event-title">
					BIENEN CONVOCATION
				</div>
				<div class="event-details">
					9:00AM - Pick-Staiger Concert Hall - no ticket required
				</div>
			</div>
			<div class="event">
				<a name="medill"></a>
				<div class="event-title">
					MEDILL CONVOCATION
				</div>
				<div class="event-details">
					10:30AM - Cahn Auditorium - admission by ticket only
				</div>
			</div>
			<div class="event">
				<a name="weinberg"></a>
				<div class="event-title">
					WEINBERG CONVOCATION
				</div>
				<div class="event-details">
					11:30AM - Ryan Field - no ticket required
				</div>
			</div>
			<div class="event">
				<a name="soc1"></a>
				<div class="event-title">
					SCHOOL OF COMMUNICATION CONVOCATION
				</div>
				<div class="event-details">
					1:30PM - Pick-Staiger Concert Hall - admission by ticket only
				</div>
				<div class="event-description">
					*Communication Studies and CSD majors
				</div>
			</div>
			<div class="event">
				<a name="soc2"></a>
				<div class="event-title">
					SCHOOL OF COMMUNICATION CONVOCATION
				</div>
				<div class="event-details">
					5:00PM - Pick-Staiger Concert Hall - admission by ticket only
				</div>
				<div class="event-description">
					*Theatre, RTVF, Performance Studies, Dance, and Interdepartmental Studies majors
				</div>
			</div>
		</div>

	</div>
</div>
</div>
</div>
</body>
</html>